
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Gokulnath G</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/Gokulnath.jpeg' %}" >
					<hr>
					<h4>Hi I'm Gokulnath!</h4>
					<p>I love coding, Learning Technologies and Looking for Oppertunuties to exhibit and implement my Skills</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Objective</h4>
					<hr>
					<p>To obtain a creative and challenging position in an organization that gives me an opportunity for self-improvement and leadership, while contributing to the symbolic growth of the organization with technical, innovative and logical skills
					<ul class="social-links">
						<li><a href="https://github.com/Gokulnath7598"><img class="social" src="{% static 'images/github.png' %}"></a></li>
						<li><a href="https://www.linkedin.com/in/gokul-nath-31283a1a0/"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
                        <li><a href="mailto:gocool7598@gmail.com"><img class="social" src="{% static 'images/mail.png' %}"></a></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience</h5>
					<hr>
                    <h5><b>Software Engineer/Penetration Tester</b></h5>
                    <h5>DeadBed Cyber Solutions</h5>
                    <li>12/2019 - 06/2020</li>
                    <li>Cyber Security Awareness Camps and classes</li>
                    <li>Penetration Testing</li>
                    <li>Web and Mobile application Development</li>
  					<hr>
                    <h5><b>Software Engineer</b></h5>
                    <h5>Kloud Technology Works Pvt Ltd</h5>
                    <li>06/2020 - 01/2021</li>
                    <li>Database Migration (MSSQL to PostgreSQL)</li>
                    <li>Testing with Db Fit, Python Script, J Meter</li>
                    <li>Deploying in AWS using Docker Kubernetes</li>
                </div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>PERSONAL PROJECTS</h5>
					<hr>
                    <h5>MSSQL PostgreSQL Migration Tester</h5>
                    <p>Python based program to verify database migration. can also check the performance of databases.</p>
                    <h5>Wifi Security</h5>
                    <p>Java and Kotlin based android application using OpenVPN service to prevent unauthorized Sniffing</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Skills</h5>
					<hr>
                    <h5>
                        <span class="badge badge-dark">C</span>
                        &nbsp;<span class="badge badge-dark">C++</span>
                        &nbsp;<span class="badge badge-dark">Go</span>
                        &nbsp;<span class="badge badge-dark">JAVA</span>
                        &nbsp;<span class="badge badge-dark">Python</span>
                        &nbsp;<span class="badge badge-dark">Django</span>
                        &nbsp;<span class="badge badge-dark">HTML</span>
                        &nbsp;<span class="badge badge-dark">JavaScript</span>
                        &nbsp;<span class="badge badge-dark">SQL</span>
                        &nbsp;<span class="badge badge-dark">Kotlin</span>
                        &nbsp;<span class="badge badge-dark">Swift</span>
                        &nbsp;<span class="badge badge-dark">AWS</span>
                        &nbsp;<span class="badge badge-dark">Docker</span>
                        &nbsp;<span class="badge badge-dark">Burp Suit</span>
                    </h5>
                </div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Education</h5>
				<hr>
				<h5>MSc integrated Information Technology</h5>
                <p>College of Engineering, Guindy</p>
				<p>08/2017 - Present&nbsp;&nbsp; CGPA 7.6</p>
				</div>
			</div>
		</div>
		<br>
        <div class="row">
			<div class="col-md-12">
				<div class="card card-body h-100">
					<h5>Certificates</h5>
					<hr>
                    <div class="row"> 
                        <div class="column">
                        <img src="{% static 'images/Certificates/Coursera 3MUTX4SEHNU7-1.png' %}" style="width:100%">
                        <img src="{% static 'images/Certificates/Coursera 5N32HQXP4EF6-1.png' %}" style="width:100%">
                        
                        <img src="{% static 'images/Certificates/Coursera BBPLKKSQR7CF-1.png' %}" style="width:100%">
                        <img src="{% static 'images/Certificates/Coursera ZPFM43UW6TJD-1.png' %}" style="width:100%">
                        <img src="{% static 'images/Certificates/Coursera EAVDS9DEMZT5-1.png' %}" style="width:100%">
                        
                        <img src="{% static 'images/Certificates/01.JPG' %}" style="width:100%">
                        <img src="{% static 'images/Certificates/Gokulnath G-1.png' %}" style="width:100%">
                      
                        </div>
                        <div class="column">
                        <img src="{% static 'images/Certificates/Coursera LA42ASMAF7M8-1.png' %}" style="width:100%">
                        <img src="{% static 'images/Certificates/Coursera 8TKJA7NKUWHC-1.png' %}" style="width:100%">
                        <img src="{% static 'images/Certificates/Coursera DSXDTBXNNPNR-1.png' %}" style="width:100%">
                        <img src="{% static 'images/Certificates/Coursera ETCNY4DFZUWZ-1.png' %}" style="width:100%">

                        <img src="{% static 'images/Certificates/Coursera STVFGC4NBXXH-1.png' %}" style="width:100%">
                        <img src="{% static 'images/Certificates/GuviCertification - Y3jc763hv9yo1011t0.png' %}" style="width:100%">
                        
                        </div>  
                      </div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>